.owl-carousel {
  padding: $jumbotron-padding;

  .item{
    position: relative;
    text-align: center;

    .card-text {
        font-size: 1rem;
    }

    .card-title {
      font-size: 1rem;
    }
  }

  .item img{
    width: 100%;
  }

  .owl-nav {
    overflow: hidden;
    height: 0px;
  }

  .nav-button {
    height: 50px;
    width: 25px;
    cursor: pointer;
    position: absolute;
    top: 110px !important;
  }
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
  pointer-events: none;
  opacity: 0.25;
}

.owl-carousel .owl-prev {
  left: -10px;
}

.owl-carousel .owl-next {
  right: -10px;
}

.owl-carousel  .owl-nav [class*=owl-] {
  color: $white;
  font-size: 39px;
}

.owl-carousel .prev-carousel:hover {
  background-position: 0px -53px;
}

.owl-carousel .next-carousel:hover {
  background-position: -24px -53px;
}

.horizontal-line {
  border-color: darken($white, 20%);
}

