.page-footer {
  width: 90%;
  margin: auto;
  border-top: 1px solid darken($white, 17%);
  color: darken($white, 25%);
  text-align: center;
  padding: $jumbotron-padding*2;

  .footer {
    display:flex;
    flex-direction: column;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      justify-content: space-between;
      text-align: right;

      .menu-container {
        text-align: left;
      }

      .info-container {
        border-top: none;
      }

    }
  }

  .bottom-menu {
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;

    .nav-link {
      color: darken($white, 10%);
    }
  }

  .info-container {
    border-top: 1px solid darken($white, 22%);
  }
}









