.navbar {
  width: 100%;
  text-transform: uppercase;
  .navbar-nav {
    .nav-item {
      text-align: center;

      @include media-breakpoint-up(md) {
        text-align: left;
      }
    }
  }
}

.logo_website{
  color: $danger;
}