// framework
@import "globals/framework";

//variables
@import "globals/variables";

//project specific
@import "navbar";
@import "footer";
@import "carousel";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif

}

.page-container{
  position: absolute;
  top:50px;
  background-color:$dark;
  width: 100%;

  .main-container {
      width: 100%;

    .jumbotron{
      margin-bottom: 0;

      &-title {
        font-weight: $font-weight-bold;
        font-size: 2.1rem;
      }

      &-text {
        font-size: 1rem;
      }
    }
  }
}




.header-section{
  background-image: url("https://fortwaltonvintagerecords.com/wp-content/uploads/2020/07/96768060_3204384082945643_1089699770693320704_o.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  padding: $jumbotron-padding*2;

  @include media-breakpoint-up(md) {
    height: 500px;
  }

  &-banner {
    background-color: rgba(189, 181, 181, 0.9);
    width: 95%;
    min-width: 270px;
    height: 100%;
    border-radius: $border-radius;
    padding: $jumbotron-padding;
    overflow: hidden;
    font-size: 1rem;
    color: $black;

    @include media-breakpoint-up(lg){
      width: 60%;
      font-size:1.3rem;
    }
  }
}



// about section
.myMenu {
  display: flex;
  justify-content: space-between;

  .tab-btn {
    margin: 0;
    width: 33.3%;
    height: 100%;
    font-size: 1.3rem;
    background-color: transparent;
    border:none;
    outline: none;
    cursor: pointer;
    padding: 10px;

    &:first-child {
      border-top-left-radius: 5px;
    }
    &:last-child{
      border-top-right-radius: 5px;
    }
  }
}


.btn-active{
  background-color: rgba(189, 181, 181, 1);
}

.tab-panel{
  display: none;
  padding: 50px 15px;
  height: 300px;
}

.panel-active{
  display: block;
}

// Form section
.form-container{
  width: 80%;
  margin:auto;
  padding: 30px;
  background-color: $dark;
  color: darken($white, 15%);

    .form_title {
      text-align: center;
      margin-bottom: 2rem;
    }

    .row{
      margin: 10px 0;
    }

  .checkbox-label {
    @include media-breakpoint-up(md) {
      display: block;
    }
  }


}

.btn-submit-container{
  display:flex;
  justify-content: center;
  .submit-btn {
    background-color: $danger;
    color: $white;
  }
}
